.header-vault {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-bottom: 24px;
    overflow-x: auto;
    & .card-header-vault {
        padding: 26px;
        background-color: #10172b;
        min-width: 230px;
        border-radius: 10px;
        border: 2px solid var(--borderColorCard);
    }
}


.container-grid-entries {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(220px, 300px)
    );
    gap: 24px;
}