.modal-view-password {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    & .container-fields-modal {
        background-color: #131c2f;
        padding: 30px;
        border-radius: 16px;
        max-width: calc(100% - 10px);
    }
}